@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffcd28;
}

main {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

button#btn {
  background-image: linear-gradient(-45deg, blue, rgb(255, 0, 0) 60%);
  background-color: #116cb5;
  font-size: 1.2em;
  font-weight: 900;
  color: #ffbd59;
  border: 0px;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
  transition: 0.3s;
}
img {
  margin-bottom: 30px;
  width: 200px;
}
button#btn:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.3em;
  padding: 25px;
}

button#btnReload {
  margin-top: 25px;
  background-color: #b51127;
  font-size: 1.2em;
  border: 0px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.3s;
}

button#btnReload:hover {
  padding: 15px;
  cursor: pointer;
}

div#res {
  font-family: "Courier New", Courier, monospace;
  background-color: #ffa60059;
  padding: 20px;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  width: 60vw;
  border-radius: 12px;
  color: rgb(255, 255, 255);
}
